# Direnv cache
.direnv

# Python outputs
dist
*.egg-info

# Python cache
__pycache__

# Python venv
.venv

# Nix outputs
result
result-*

# Clangd state files
.cache/clangd
compile_commands.json

# Meson outputs
build
.mesonpy-*
